*{
    margin: 0 auto;
}

body{
    background-image: url(../img/emilia-music-top.jpg);
    background-repeat: no-repeat;
    background-size: 100% 250px;
    font-family: Open Sans;
}

a{
    text-decoration: none; /* le saca lo subrayado del menu*/
}

ul li{
    list-style: none; /* le saca los puntos default del menu */
}

ul.menu li{
    display: inline;
    padding: 0 2px;
    font-size: 25.9px;
}

ul.menu{
    text-align: right;
    margin-top: 50px;
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 20px 15px;
}

ul.menu a{
    color: rgb(71, 71, 71);
  }

ul a i{
    color: black;
}

ul.redes{
    text-align: right;
    padding: 15px 15px;
    margin-right:5px ;
    font-size: 24.6px;
}

h1#TITULO{
    margin-top: 110px;
    font-family: Raleway;
    font-size: 70px;
}

p#links{
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
}

p#lista{
    font-family: Raleway;
    margin-left: 35px;
    color: gray;
}



h2{
    font-family: raleway;
    margin-top: 60px;
    font-size: 23px; 
}

ul.list-music{
    padding: 5px;
    margin-top: 10px;
}

ul.list-music li{
    padding: 9px;
}

P{
 font-family: Raleway;
 color: black;
}

p.Go-Top{
    color: rgb(145, 145, 145);
    font-weight: bold;
}


